body{
	background-color: lightblue;
	font-family: 'lato', sans-serif;
}
.home{
	margin: 0 auto;
	width: 1000px;
}
.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	position: absolute;
	top: 35%;
}
.header{
	background-image: linear-gradient(#2874A6, lightblue);
	border-radius: 20px 0px 0px 20px;
	grid-column: 1;
	height: 200px;
	width: 100%;
}
.header2 p{
	border-radius: 70px;
	border: 1px solid;
	float: right;
	font-size: 25px; 
	margin-right: 20px;
	padding: 58px;
}
.header2{
	background-image: linear-gradient(#2874A6, lightblue);
	border-radius: 0px 20px 20px 0px;
	grid-column: 2;
}